@tailwind base;
@tailwind components;
@tailwind utilities;

/* color paalette */

:root{
  --purplePrimary: "#A594F9";
  --purpleLight: "#CDC1FF";
  --purpleLighter: "#F5EFFF";
  --purplePastel: "#E5D9F2";
  --grayLight: "#F6F5F5";
  --white: "#FFFFFF";
}

/* Fonts */
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* End fonts */

