@tailwind base;
@tailwind components;
@tailwind utilities;

/* color palette */

:root {
	--primary: "#1985A1";
	--primaryLighter: "##289dbc";
	--secondary: "#4C5C68";
	--secondaryLighter: "#657581";
	--dark: "#46494C";
	--grayDark: "#C5C3C6";
	--grayLight: "#DCDCDD";
	--white: "#FFFFFF";
}
/*
0.625rem = 10px
0.75rem = 12px
0.875rem = 14px
1rem = 16px
1.125rem = 18px
1.25rem = 20px
1.5rem = 24px
1.75rem = 28px
2rem = 32px
2.25rem = 36px
2.5rem = 40px
3rem = 48px
*/

* {
	font-family: "Roboto", sans-serif;
}

/* Fonts */
.roboto-thin {
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	font-style: normal;
}

.roboto-light {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.roboto-regular {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.roboto-medium {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.roboto-bold {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.roboto-black {
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	font-style: normal;
}

.card-shadow {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	padding: 1em;
	border-radius: 5px;
}
.title-heading {
	font-size: 1.5rem;
	font-weight: 600;
	font-style: normal;
}
.subtitle-heading {
	font-size: 1.125rem;
	font-weight: 700;
	font-style: normal;
}

.body-text {
	font-size: 0.75rem;
	font-weight: 400;
	font-style: normal;
}
.body-text-bold {
	font-size: 0.75rem;
	font-weight: 600;
	font-style: normal;
}
.body-text-small {
	font-size: 0.625rem;
	font-weight: 300;
	font-style: normal;
}
.body-text-small-bold {
	font-size: 0.625rem;
	font-weight: 600;
	font-style: normal;
}

.btn {
	padding: 0.5rem 1.5rem;
	border-radius: 5px;
	/* border: none; */
	display: flex;
	justify-content: center;
}


.active-step {
	animation: pulse 2s infinite;
}


@keyframes pulse {
	0% {
		transform: translate(var(--translate-x, 0)) scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 113, 91, 0.7), #b24f3f 0px 4px 0px;
	}

	70% {
		transform: translate(var(--translate-x, 0)) scale(1);
		box-shadow: 0 0 0 30px rgba(255, 157, 142, 0), #b24f3f 0px 4px 0px;
	}

	100% {
		transform: translate(var(--translate-x, 0)) scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 113, 91, 0), #b24f3f 0px 4px 0px;
	}
}