@tailwind base;
@tailwind components;
@tailwind utilities;

/* color palette */

:root {
	--primary: "#1985A1";
	--primaryLighter: "##289dbc";
	--secondary: "#4C5C68";
	--secondaryLighter: "#657581";
	--dark: "#46494C";
	--grayDark: "#C5C3C6";
	--grayLight: "#DCDCDD";
	--white: "#FFFFFF";
}

* {
	font-family: "Roboto", sans-serif;
	font-size: 13px;
}

/* Fonts */
.roboto-thin {
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	font-style: normal;
}

.roboto-light {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.roboto-regular {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.roboto-medium {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.roboto-bold {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.roboto-black {
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	font-style: normal;
}

/* End fonts */